@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap'); 
body{
  font-family: 'Open Sans', sans-serif;
  background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  color: white;
}
f{
  font-family: 'Raleway', sans-serif;
}
input,textarea{
  border-radius: 25px;
  background: rgba(255, 255, 255, .7);
	animation-fill-mode: blur(10px);
	backdrop-filter: blur(10px);
  min-height: 250px;
  min-width: 400px;
  color: black;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '	\272D';
}
.rate > input:checked ~ label {
  color: yellow;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: yellow;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: yellow;
}
#submit{
  font-size:13.125px;
  text-align:center;
  line-height:26.25px;
  letter-spacing:normal;
  padding:8.96px;
  background-color:#ff9900;
  color:#f9fafb;
}
#submit:hover{
  filter: contrast(200%);
}



/* star rating adapted from https://codepen.io/hesguru/pen/BaybqXv */ 