@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
   
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: #FFFFFF;
    flex: 1;
}

#logo {
    object-fit: scale-down;
    width: 200px;
    height: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 80px;
    border-bottom: 0.5px solid #555555;
    position: fixed;
    top: 0;
    width: 100%;
}

.btn {
    font-size: medium;
    text-decoration:none;
    transition-duration: 300ms;
}

.nav-btn {
    color: #9F9F9F;
}

.nav-btn:hover {
    color: #444444;
}

.nav-btn-active {
    color: #444444;
}
#nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 1.5rem;
}

#designs-btn {
    font-size: 20px;
    font-weight: 400;
    background:linear-gradient(to right, rgb(114, 54, 188) , rgb(74, 101, 234));
    color:white;
    text-align: center;
    margin: 1rem;
    padding:10px 10px;
    border-radius:500px;
    transition: 0.5s;
    border:2px solid #b8aaee;
}

#designs-btn:hover {
    background-color:blueviolet;
    color:white;
    box-shadow: 5px 5px 1px darkblue;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#header-content {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#illustration {
    object-fit: scale-down;
}
#header-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#header-title {
    font-size: 2.25rem;
    font-weight: 300;
}

#header-subtitle {
    font-size: 1rem;
}

#contribute-btn {
   
    font-size: 20px;
    font-weight: 600;
    background:linear-gradient(to right, rgb(158, 108, 233),rgb(53, 81, 223),rgb(75, 133, 200));
    color:white;
    text-align: center;
    margin: 1rem;
    padding:20px 20px;
    border-radius:500px;
    transition: 0.2s;
    border: 2px solid white;
}


#contribute-btn:hover {
    background:linear-gradient(to right,rgb(65, 103, 228),rgb(43, 155, 235),rgb(85, 193, 239));
    color:white;
    box-shadow: 5px 5px 1px darkblue;
}

#designs {
    background-color: #FFFFFF;
    border-top: 0.5px solid #555555;
    padding: 2rem;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

#designs-grid {
    display: grid;
    margin-top: 1.25rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#designs-title {
    font-size: 2rem;
    font-weight: 300;
}

.design-btn {
    font-size: 20px;
    font-weight: 600;
    background-color:#b8aaee;
    color:white;
    text-align: center;
    margin: 1rem;
    padding:20px 20px;
    border-radius:30px;
    transition: 0.5s;
    /* border: 3px solid rgb(132, 50, 248); */
    
}

.design-btn:hover {
    scale: 1.02;
    background-color:rgb(141, 156, 241);
    color:white;
    box-shadow: 4px 4px 1px darkblue;
    border: 3px solid white;
}

.design-btn > img {
    margin-right: 5px;
    
}

.design-btn-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: White;
    padding-left: 2px;
}

.design-btn-author {
    font-size: 0.65rem;
    font-weight: 300;
    color: black;
    padding-left: 2px;
}

footer {
    background-color: #FFFFFF;
    width: 100%;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.footer{
    background-color: rgb(174, 176, 180);
    height: 100px;
    opacity: 80%;

}



@media (min-width: 768px) {
    #designs {
        display: flex;
        flex-direction: column;
        padding: 2rem 16rem 2rem 16rem;
    }

    #designs-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #header-content {
        margin: 2rem 16rem 2rem 16rem;
        flex-direction: row;
    }
}

