@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: #FFFFFF;
    flex: 1;
}

#logo {
    object-fit: scale-down;
    width: 200px;
    height: 60px;
}

.btn {
    font-size: medium;
    text-decoration: none;
    transition-duration: 300ms;
}

.nav-btn {
    color: #9F9F9F;
}

.nav-btn:hover {
    color: #444444;
}

.nav-btn-active {
    color: #444444;
}

#nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 1.5rem;
}

#designs-btn {
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(to right, rgb(133, 84, 193), rgb(79, 106, 243));
    color: white;
    text-align: center;
    padding: 12px 24px;
    border-radius: 1.5em;
    transition: 0.5s;
    border: 1px solid #b8aaee;
}

#designs-btn:hover {
    background: white;
    color: darkblue;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#header-content {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#illustration {
    object-fit: scale-down;
}

#header-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#header-title {
    font-size: 2.25rem;
    font-weight: 300;
}

#header-subtitle {
    font-size: 1rem;
}

#contribute-btn {
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to right, rgb(158, 108, 233), rgb(53, 81, 223), rgb(75, 133, 200));
    color: white;
    text-align: center;
    margin: 1rem;
    padding: 15px 10px;
    border-radius: 500px;
    transition: 0.2s;
    border: 2px solid white;
}

#contribute-btn:hover {
    background: white;
    color: black;
    box-shadow: 5px 5px 1px rgb(142, 142, 247);
}

#designs {
    background-color: #FFFFFF;
    border-top: 0.5px solid #555555;
    padding: 2rem;
    width: 100%;
    z-index: -1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#designs-title {
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
}

.design-btn {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(165, 165, 239);
    color: white;
    text-align: center;
    width: 15em;
    height: 5.5em;
    margin: 1rem;
    padding: 14px 12px;
    border-radius: 0.7em;
    transition: 0.5s ease;
}

.design-btn:hover {
    scale: 1.02;
    width: 15.5em;
    border-radius: 0.9em;
    background-color: rgb(151, 163, 221);
    box-shadow: 4px 4px 1px rgb(128, 128, 216);
    border: 1px solid white;
}

.design-btn > img {
    margin-top: 0.5rem;
}

.design-btn-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    padding-left: 2px;
}

.design-btn-author {
    font-size: 0.75rem;
    font-weight: 300;
    color: black;
    padding-left: 2px;
}

footer {
    width: 100%;
    font-family: 'Libre Bodoni', serif;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    padding: 2%;
}

.footer-header {
    color: #4534c7;
}

a {
    text-decoration: none;
}

.fa-facebook {
    color: blue;
    padding: 1.5rem 0;
    text-align: center;
    color: #535353;
    transition: 0.4s;
}

.fa-facebook:hover {
    color: grey;
    transform: scale(1.5);
}

.fa-twitter {
    color: skyblue;
    transition: 0.4s;
}

.fa-twitter:hover {
    color: rgb(113, 179, 206);
    transform: scale(1.5);
}

.fa-instagram {
    color: #9900F0;
    transition: 0.4s;
}

.fa-instagram:hover {
    color: #4c106f;
    transform: scale(1.5);
}

@media (min-width: 768px) {
    #header-content {
        margin: 2rem 16rem 2rem 16rem;
        flex-direction: row;
    }
}

#designs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    text-align: center; /* Center text within items */
}

@media (max-width: 1078px) {
    #designs-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 723px) {
    #designs-grid {
        grid-template-columns: 1fr;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 80px;
    border-bottom: 0.5px solid #555555;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    padding: 0 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    object-fit: scale-down;
    width: 143px; /* Adjust logo width */
    height: 82px; /* Adjust logo height */
}

#nav-and-menu {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    display: none; /* Initially hide for larger screens */
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 101; /* Ensure hamburger is above other content */
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #444;
    transition: 0.3s;
}

@media (max-width: 710px) {
    .logo-container {
        width: 50%; /* Adjust width to fit logo and menu */
    }

    #nav-buttons {
        display: none; /* Hide normal navigation buttons */
    }

    #logo {
        display: block; /* Show logo for smaller screens */
    }

    .hamburger-menu {
        display: flex; /* Show hamburger menu icon */
    }

    .menu-overlay {
        display: none; /* Initially hide menu overlay */
        position: fixed;
        top: 80px; /* Height of the navigation bar */
        left: 0;
        width: 100%;
        background-color: black; /* Adjust background color as needed */
        z-index: 100; /* Ensure menu overlay is above other content */
        padding: 10px 0;
        text-align: center;
        border-bottom: 0.5px solid #555555;
    }

    .menu-overlay.show-menu {
        display: block; /* Show menu overlay when active */
    }

    .menu-overlay a {
        display: block;
        padding: 10px 0;
        color: #FFFFFF; /* Adjust text color */
        text-decoration: none;
        transition: color 0.3s;
    }

    .menu-overlay a:hover {
        color: darkblue;
    }
}
