@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    background: url('images/5726840.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 162vh;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.header__logo {
    background: url('images/Logo.ico');
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.header__nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__list {
    position: relative;
    list-style: none;
    margin-left: 5rem;
}

.header__link {
    position: relative;
    margin: 0 15px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 2px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    cursor: pointer;
}

.header__link:hover {
    color: rgba(255, 255, 255, 0.44);
}

.header.sticky {
    padding: 5px 100px;
    background: #fff;
}

.header.sticky .header__link {
    color: #000;
}

.header.sticky .header__logo {
    color: #000;
}

.banner {
    margin-top: 10%;
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner::after {
    content: "";
    height: 100vh;
    position: absolute;
    width: 100%;
}

@media only screen and (max-width: 785px) {
    .header__logo {
        display: none;
    }
    .header__nav {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .header__nav.active {
        left: 0;
    }
    .header__link {
        margin: 2.5rem 0;
    }
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    max-width: 50%;
    max-height: 50%;
}

h1,
h2,
h3,
h4,
p {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0 0;
}

h4 {
    color: darkgray;
    margin: 0 0;
    padding: 0 0;
}

.btn {
    display: block;
    margin: 2em auto;
    cursor: pointer;
    background: #ED84A5;
    width: 250px;
    color: white;
    padding: 0.2rem 2rem;
    font-size: 1.5em;
    border: none;
    border-radius: 4rem;
}

.btn:hover {
    background: #ED84A5;
    opacity: 0.73;
}