*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: rgba(17, 24, 39, 1);
  background-color: rgba(209, 213, 219, 1);
}

.container {
  display: flex;
  max-width: 24rem;
  justify-content: center;
  margin: 0 auto;
}

.file-uploader-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  width: 75%;
  height: auto;
  margin: 5rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.file-uploader-card-info {
  margin-bottom: 2.5rem;
  margin-top: 3rem;
  text-align: center;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

p {
    color: rgba(107,114,128, 1);
    font-weight: 100;
    font-size: .75rem;
    line-height: 1rem;
}

form {
    position: relative;
    background-color: rgba(243,244,246, 1);
    width: 80%;
    height: 8rem;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

input {
    display: none;
}

label {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 20;
    cursor: pointer;
}

label > p {
    font-weight: 300;
    z-index: 10;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    color: rgba(107,114,128, 1)
}

svg {
    color: rgba(129,140,248, 1);
    width: 2rem;
    height: 2rem;
    z-index: 10;
}