body {
    margin :0 auto;
    padding :0;
    font-family: Verdana;
    background:rgba(0, 0, 0, 0.05);
}

.container-pro{
    display: flex;
    flex-direction: column;
    margin-top:2em

}

header{
    background-color: lightpink;
    padding: 1em;
   
    color: white;
}

.container{
    display: block;
    margin : 1em auto;
    padding : 2rem 1rem;
    width : 60%;
    height: 80%;
    max-width : 400px;
    max-height: 400px;
    border : solid #eeee;
    border-radius : 2em;
    background-color: white;
    /* //added the box box-shadow: ; */
}
.container:hover{
    box-shadow: -6px -6px 20px rgb(230, 130, 130), 6px 6px 20px rgba(231, 21, 21, 0.1);

}


@media  (min-width: 785px) {

    .container-pro{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .container{
        margin : 1em 1em;
    }

  }

img{
    display : inline;
    margin :0 auto;
    height: 100%;
    width : auto;
    max-width:50%;
    max-height:50%;
}

.img-container{
    width : 40%;
    height : 40%;
    max-width:50%;
    max-height:50%;
    border-radius : 50%;
    margin : auto ;
    display : block;
    box-shadow : 0 0.2rem 0.5rem rgb(255,192,203), 0 3px 20px 0 rgb(255,192,203);
}



h1, h2, h3, h4, p{
    text-align : center;
}

h2{
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom : 0;
    padding : 0 0;
}

h4{
    color:deeppink;
    margin : 0 0;
    padding : 0 0;
}

button {
    display: block;
    margin : auto;
    cursor: pointer;
}

.btn{
    background-image : linear-gradient(to left, deeppink,  pink);
    color : white;
    padding : 0.2rem 2rem;
    font-size : 1.5em;
    border : none;
    border-radius : 6rem;
    box-shadow : 0 0.4rem 0.5rem rgb(255,192,203), 0 5px 18px 0 rgb(255,192,203);

}
a{
        text-decoration: none;

}
