@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}
main {
    padding-top: 80px;
    background-color: #FFFFFF;
    flex: 1;
}


#logo {
    object-fit: scale-down;
    width: 200px;
    height: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 80px;
    border-bottom: 0.5px solid #555555;
    position: fixed;
    top: 0;
    width: 100%;
}

.bton {
    font-size: medium;
    text-decoration:none;
    transition-duration: 300ms;
}

.nav-btn {
    color: #9F9F9F;
}

.nav-btn:hover {
    color: #444444;
}

.nav-btn-active {
    color: #444444;
}
#nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 1.5rem;
}

body {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    padding: 0px 3rem 0px 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 80px;
    border-bottom: 0.5px solid #555555;
    position: fixed;
    top: 0;
    width: 100%;
}

#title-cards {
    font-weight: 300;
    font-size: 1.75rem;
    color: black;
}

#author {
    font-size: 0.85rem;
    color: #7c7c7c;
}

section {
    padding: 7rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

#logo {
    object-fit: scale-down;
    width: 200px;
    height: 60px;
}

#back-btn {
    font-size: medium;
    text-decoration:none;
    transition-duration: 300ms;
    color: #6D4BFF;
    text-align: center;
    background-color: #D6CFF3;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    border: 1px solid #6D4BFF;
    width: 12rem;
    margin-bottom: 2rem;
}

#back-btn:hover {
    scale: 1.025;
    transition-duration: 300ms;
}

footer {
    padding: auto;
    background-color: #FFFFFF;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #535353;
    position: fixed;
    bottom: 0%;
}

#card {
    width: 100%;
    padding: 0rem 3rem 0rem 3rem;
    max-width: 24rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid;
    border-color: #e5e7eb;
    box-shadow: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
}

#card > img {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    width: 6rem;
    height: 6rem;
    border-radius: 9999px;
    box-shadow: #000000;
}

#card > h5 {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #111827;
}

#card > span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6b7280;
    text-align: center;
}

#card > p {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #38393b;
    text-align: center;
}

#card > div {
    display: flex;
    margin-top: 1rem;
    margin-left: 0.75rem;
    gap: 0.75rem;
}

#card > div > a {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #6D4BFF;
    color: white;
    transition-duration: 300ms;
}

#card > div > a:hover {
    scale: 1.02;
}