body {
    background: #00002E;
    color:#6098FF;
    font-family:sans-serif;
    font-size:16px;
  }
  h2{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:3px;
    margin-top: 70px;
    margin-bottom:20px;
  }
  
  
  /* Wrapper Is not Needed| Just for demo purpose.  */
  .wrapper {
    margin: 150px auto;
    text-align: center;
    width: 100%;
    position: relative;
  }
  
  .btn, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn10{
    padding: 15px 100px;
    margin:10px 4px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    
  }
  
  .btn::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #6098FF;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  }
  
  .btn:hover::before {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }
  
  /*======= Button 2 =======*/
  .btn2::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  -webkit-transform: scaleY(.3);
  transform: scaleY(.3);
  opacity: 0;
  transition: all .3s
  }
  
  .btn2:hover{
    color:#6098FF;  
  }
  .btn2:hover::before{
    opacity: 1;
    background-color: #fff;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
  }
  /*======= Button 3 =======*/
  .btn3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    -webkit-transform: scaleX(.3);
    transform: scaleX(.3);
    opacity: 0;
    transition: all .3s
  }
  .btn3:hover::before{
    opacity: 1;
    background-color: #6098FF;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
  }
  /*======= Button 4 =======*/
  .btn4::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #6098FF;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  }
  
  .btn4:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }
  
  /*=======Button 5============= */
  .btn5{
    border:none;
  }
  .btn5::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom:0px;
    z-index:-1;
    width: 100%;
    height:100%;
    background: transparent;
    box-shadow: inset 0px 0px 0px #6098FF;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }
  /* if you want it to show from the right use -300px instead */
  .btn5:hover::before {
   box-shadow: inset 300px 0px 0px #6098FF;
  }
  
  /*=======Button 6============= */
  .btn6{
    border:1px solid transparent; 
     -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  }
  
  .btn6::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom:0px;
    z-index:-1;
    width: 0%;
    height:1px;
    background: #6098FF;
    box-shadow: inset 0px 0px 0px #6098FF;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }
  
  .btn6:hover::before {
    width:100%;
  }
  
  .btn6::after {
    content: '';
    position: absolute;
    right: 0px;
    top:0px;
    z-index:-1;
    width: 0%;
    height:1px;
    background: #6098FF;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }
  .btn6:hover::after {
    width:100%;
  }
  .btn6:hover{
    border-left:1px solid #6098FF;
    border-right:1px solid #6098FF;
  }
  /* button7 */
  
  
  .btn7 {
      box-shadow: inset 000px 0px 0px 0px #6098FF;
    -webkit-transition: all 0.6s cubic-bezier(.9, .24, .40, 1);
    transition: all 0.6s cubic-bezier(.9, .24, .40, 1)
  }
  
  .btn7::before {
      content: '';
      width: 100%;
      height: 0%;
      display: block;
      background: #80ffd3;
      position: absolute;
      left: 0%;
      opacity: 0;
      top: 0;
      z-index: -1;
      -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
      transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
    
  }
  
  .btn7:hover::before {
      opacity: 1;
      height: 100%;
  }
  
  .btn7:hover {
      box-shadow: inset 00px 100px 0px 0px #6098FF;
      color: #ffffff;
  }
  .bar-anchor{
    padding: 20px 10px;
    margin:10px 4px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
     overflow:hidden;
  /*    border:1px solid #6098FF; */
  }
  .bar-anchor span{
    background:#00002E;
    width:100%;
    position:relative;
    padding:10px 70px;
     -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  /*   border:1px solid #6098FF;  */
  }
  .transition-bar{
      position: absolute;
      top: 0;
      left: 0%;
      width: 0;
      height: 100%;
      background: #80ffd3;
      z-index:-1;
  /*     -ms-transform: skewX(-20deg); 
      -webkit-transform: skewX(-20deg); 
      transform: skewX(-20deg); */
  }
  .bar-anchor:hover span{
    color: #80ffd3!important;
  }
  .bar-anchor:hover .transition-bar{
    width:120%;
    left:110%;
    -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  }
  /* Button 9 */
  .btn9{
    padding: 20px 10px;
    margin:10px 4px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
     overflow:hidden;
  /*    border:1px solid #6098FF; */
  }
  .btn9 span{
    background:#00002E;
    width:100%;
    position:relative;
    padding:10px 70px;
     -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  /*   border:1px solid #6098FF;  */
  }
  .transition{
      position: absolute;
      top: -10%;
      left: 0%;
      width: 100%;
      height: 0%;
      background: #80ffd3;
      z-index:-1;
  /*     -ms-transform: skewX(-50deg); 
      -webkit-transform: skewX(-50deg); 
      transform: skewX(-50deg); */
  }
  .btn9:hover span{
    color: #80ffd3!important;
  }
  .btn9:hover .transition{
    height:100%;
    top:101%;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  }
  /* Btn 10  */
  .btn10{
      top: 40px;
      font-family: "proxima-nova", sans-serif;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase!important;
      letter-spacing: 2px;
      color: #fff;
      cursor: hand;
      text-align: center;
      text-transform: capitalize;
      border: 1px solid #fff;
      border-radius:50px;
      position: relative;
      overflow: hidden!important;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background: transparent!important;
      z-index:10;
      
  }
  
  
  .btn10:hover{
      border: 1px solid #071982;
      color: #80ffd3!important;
  }
  .btn10::before {
      content: '';
      width: 0%;
      height: 100%;
      display: block;
      background: #071982;
      position: absolute;
      -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg); 
      transform: skewX(-20deg);   
      left: -10%;
      opacity: 1;
      top: 0;
      z-index: -12;
      -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
       box-shadow:2px 0px 14px rgba(0,0,0,.6);
    } 
  
  .btn10::after {
      content: '';
      width: 0%;
      height: 100%;
      display: block;
      background: #80ffd3;
      position: absolute;
    -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg); 
      transform: skewX(-20deg);   
      left: -10%;
      opacity: 0;
      top: 0;
      z-index: -15;
      -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
      -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
      -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
      transition: all .4s cubic-bezier(.2,.95,.57,.99);
      box-shadow: 2px 0px 14px rgba(0,0,0,.6);
  }
  .btn10:hover::before, .btn1O:hover::before{
    opacity:1;
    width: 116%;
  }
  .btn10:hover::after, .btn1O:hover::after{
    opacity:1;
    width: 120%;
  }
  
  /* Btn 11  */
  .btn11{
      top: 40px;
      padding:20px 90px;
      margin: 0 10px;
      display: inline-block;
      text-decoration:none;
      font-family: "proxima-nova", sans-serif;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase!important;
      letter-spacing: 2px;
      color: #fff;
      cursor: hand;
      text-align: center;
      text-transform: capitalize;
      border-radius:0px;
      position: relative;
      overflow: hidden!important;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background: transparent!important;
  }
  
  
  .btn11:hover{
      border: 1px solid #transparent;
      color: #80ffd3!important;
  }
  .btn11::before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background: #c10daf;
      position: absolute;  
      left: 0%;
      opacity: 1;
      top: 0;
      z-index: -12;
      -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
         -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
           -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
              transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    } 
  
  .btn11::after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background: #80ffd3;
      position: absolute;
      left: 0%;
      opacity: 1;
      top: 0;
      z-index: -15;
      -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
         -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
           -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
              transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .btn11:hover::before, .btn11:hover::before{
    opacity:1;
      -webkit-transform: translateX(100%);
         -moz-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
  }
  .btn11:hover::after, .btn11:hover::after{
    opacity:1;
      -webkit-transform: translateX(-100%);
         -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
  }
  
  
  /* Btn 12 */
  
  .button12 {
    cursor: pointer;
    background-color: #000;
    width: 330px;
    height: 64px;
    padding:20px 50px;
    line-height: 64px;
    position: relative;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 0;
    background:#9A8A62;
    margin-left:20px;
  }
  .button12 span {
    color: #fff;
    display: inline-block;
    padding-left: 35px;
    text-transform: uppercase;
    font: bold 18px/66px Arial;
    transform: scaleX(0.6);
    letter-spacing: 3px;
    transform-origin: center left;
    transition: color 0.3s ease;
    position: relative;
    z-index: 1;
  }
  .button12 em {
    position: absolute;
    height: 1px;
    background: #fff;
    width: 47%;
    right: 23px;
    top: 50%;
    transform: scaleX(0.25);
     -webkit-transform:scaleX(0.25);
    transform-origin: center right;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .button12:before,
  .button12:after {
    content: '';
    background: #fff;
    height: 50%;
    width: 0;
    position: absolute;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition:0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .button12:before {
    top: 0;
    left: 0;
    right: auto;
  }
  .button12:after {
    bottom: 0;
    right: 0;
    left: auto;
  }
  .button12:hover:before {
    width: 100%;
    right: 0;
    left: auto;
  }
  .button12:hover:after {
    width: 100%;
    left: 0;
    right: auto;
  }
  .button12:hover span {
    color: #000;
  }
  .button12:hover em {
    background: #000;
    transform: scaleX(.51);
    transform: scaleX(.51);
  }